html{
    height: 100%;
}

.grid-container{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 18px;
}

.grid-container > div{
    text-align: left;
    text-align: center;
    padding: 13px 0;
    font-size: 30px;
}

.item1{
    grid-area: 1 / 1 / 1 / 8;
}

.item2{
    grid-area: 3/ 2 / 5 / 7;
    opacity: 0.7;
    background: #D5F2E3;
}

.navt{
    overflow: hidden;
    background: #D5F2E3;
    position: fixed;
    top: 0;
    width: 100%;
}

.left{
    padding-left: 11.1%;
}

.navt a{
    float: left;
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 30px;
}

.navt a:hover {
    background-color: rgba(114, 82, 63, 0.438);
}

.navt a.active{
    background-color: rgba(114, 82, 63, 0.438);
}

.navt .icon{
    display: none;
}

@media screen and (max-width: 600px) {
    .navt a:not(:first-child) {display: none;}
    .navt a.icon {
      float: right;
      display: block;
    }
}

@media screen and (max-width: 600px) {
    .navt.responsive {position: relative;}
    .navt.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
}

.navt.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

body{ 
    margin: 0;
}

.bkgd{ 
    background: linear-gradient(to top, #000000 0%, #ff6600 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1{
    font-size: 2em;
}
